@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    list-style: none;
}

html {
    width: 100%;
    height: auto;
    font-size: 62.5%;
    color: white;
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(17,17,17,0.8)), url(imgs/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    margin: auto;
    width: 100%;
    height: 7vh;
    background: rgba(22, 22, 22, 0.2);
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.3rem;
}

.logo-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 h1  {
    font: 1.8rem;
    letter-spacing: 0.4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 6rem;
    text-transform: uppercase;
}

h1.sobre{
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(225, 0, 255);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30rem;
    font-size: 1.5rem;
    line-height: 50px; /* espaçamento entre linhas */
}


a.link:hover{
    color: red;
}


a {
    text-decoration: none;
    color: white;
}




.container-skills{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 50px;
    padding-bottom: 50px;
 }

 .container-skills p{
    color: white;
    font-family: "Poppins";

}
.container-skills img{
    height: 100px;
}


.html5{
    background-color: rgba(0, 0, 0, 0.418);
    margin: auto;
    height: auto;
    width: 300px;
    border-radius: 5px;
    
}

.html5 h1{
    font-size: 2.9rem;
}

.html5 p{
    font-size: 1.5rem;
}

.html5:hover{
    background-color: #782ecc;
    transition: 0.5s;
    color: white;

}
.css3{
    background-color: rgba(0, 0, 0, 0.418);
    margin: auto;
    height: auto;
    width: 300px;
    border-radius: 5px;

}
.css3 h1{
    font-size: 2.9rem;
}

.css3 p {
    font-size: 1.5rem;
}

.css3:hover{
    background-color: #782ecc;
    transition: 0.5s;
    color: white;

}

.Javascript{
    
    background-color: rgba(0, 0, 0, 0.418);
    margin: auto;
    height: auto;
    width: 300px;
    border-radius: 5px;
}

.Javascript h1{
    font-size: 2.9rem;
}

.Javascript p {
    font-size: 1.5rem;
}

.Javascript:hover{
    background-color: #782ecc;
    transition: 0.5s;
    color: white;

}
.Photoshop{
    background-color: rgba(0, 0, 0, 0.418);
   
    margin: auto;
    height: auto;
    width: 300px;
    border-radius: 5px;
}

.Photoshop h1 {
    font-size: 2.9rem;
}

.Photoshop p {
    font-size: 1.5rem;
}

.Photoshop:hover{
    background-color: #782ecc;
    transition: 0.5s;
    color: white;

}

.Premiere{
    background-color: rgba(0, 0, 0, 0.418);
    margin: auto;
    height: auto;
    width: 300px;
    border-radius: 5px;
}
.Premiere h1{
    font-size: 2.9rem;
}

.Premiere p{
    font-size: 1.5rem;
}

.Premiere:hover{
    background-color: #782ecc;
    transition: 0.5s;
    color: white;

}











/* BOTÃO */



#btns {
    margin-bottom: 120rem;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#btns button {
    margin-top: 10px;
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

#btns button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0px;
    height: 60px;
    background-color: rgba(104, 26, 177, 0.979);
    z-index: -1;
    transition: 1s;
}

#btns button:hover:before {
   width: 100%;
}

#btns a {
    font-weight: 900;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* BARRA DE MENU */
aside {
    display: none;
}



/* RESPONSIVIDADE */

@media screen and (max-width: 844px){

    
    h1 {
        font-size: 2rem;
    }

    h1.principal-um{
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    
    h2.principal-dois {
        font-size: 1.1rem;
        margin-bottom: 20rem;
    }


    #barra-menu .links {
        font-size: 10rem;
    }

    main {
        margin-top: 10rem;
    }


    h1.primary-text{
        margin-top: 45rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    h2.second-text{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.0rem;
    }
    
    #btns {
        margin-top: 6rem;
    }
    

    .menu-content .list-itens{
        display: none;
    }
    ul{
        display: none;
    }

    .links {
        display: block;
        list-style: none;
    }

    .logo {
        margin-right: 15rem;
        
    }

    aside {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        overflow: hidden;
    
    }

    #barra-menu{
        background: linear-gradient(rgba(82, 4, 78, 0.8), rgb(7, 91, 148));
        width: 0px;
        height: 1000px;
        transition: 0.3s all;
        
    }

    .icon-menu ion-icon {
        width: 45px;
        height: 45px;
        margin-right: 1.5rem; /* afasta o icone para a esquerda */
        margin-top: 2rem;
        color: white
    }

    #barra-menu ul {
        align-items: center;
        text-align: center;
        padding: 5rem;
        line-height: 5rem;
    
    }

    #barra-menu ul li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 2.2rem;
        width: 100%;
    }

    #barra-menu ul li a:hover{
        padding: 8px;
        border-radius: 15px;
        background-color: #5bacdf;
    }

    .c-icon {
        margin-top: 50%;
        display: flex;
        justify-content: center;
        gap: 15px; /* separa um icone do outro */
        overflow: hidden;
        
    }

    .c-icon span {
        color: white;
        font-size: 3.5rem;
    }
    #btns button   {
        margin: -5rem;
        border: 1px solid white;
        border-radius: 20px;
    }

    #btns button {
        width: 250px;
        height: 60px;
        cursor: pointer;
        color: white;
        text-transform: uppercase;
        background-color: transparent;
        font-weight: bold;
        letter-spacing: 0.2rem;
        border-radius: 20px;
        position: relative;
        transition: 0s;
    }
}

@media screen and (max-width: 740px) {

    h1.principal-um{
        font-size: 2rem;
    }
    
    h2.principal-dois {
        font-size: 1.5rem;
    }


    #barra-menu .links {
        font-size: 10rem;
    }

    main {
        margin-top: 10rem;
    }


    h1.primary-text{
        margin-top: 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.0rem;
    }

    h2.second-text{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.0rem;
    }
    
    #btns {
        margin-top: 6rem;
    }
    

    .menu-content .list-itens{
        display: none;
    }
    ul{
        display: none;
    }

    .links {
        display: block;
        list-style: none;
    }

    .logo {
        margin-right: 15rem;
        
    }

    aside {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        overflow: hidden;
    
    }

    #barra-menu{
        background: linear-gradient(rgba(82, 4, 78, 0.8), rgb(7, 91, 148));
        width: 0px;
        height: 1000px;
        transition: 0.3s all;
        
    }

    .icon-menu ion-icon {
        width: 45px;
        height: 45px;
        margin-right: 1.5rem; /* afasta o icone para a esquerda */
        margin-top: 2rem;
        color: white
    }

    #barra-menu ul {
        align-items: center;
        text-align: center;
        padding: 5rem;
        line-height: 5rem;
    
    }

    #barra-menu ul li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 2.2rem;
        width: 100%;
    }

    #barra-menu ul li a:hover{
        padding: 8px;
        border-radius: 15px;
        background-color: #5bacdf;
    }

    .c-icon {
        margin-top: 50%;
        display: flex;
        justify-content: center;
        gap: 15px; /* separa um icone do outro */
        overflow: hidden;
        
    }

    .c-icon span {
        color: white;
        font-size: 3.5rem;
    }
    #btns button   {
        margin: -5rem;
        border: 1px solid white;
        border-radius: 20px;
    }

    #btns button {
        width: 250px;
        height: 60px;
        cursor: pointer;
        color: white;
        text-transform: uppercase;
        background-color: transparent;
        font-weight: bold;
        letter-spacing: 0.2rem;
        border-radius: 20px;
        position: relative;
        transition: 0s;
    }

}
@media screen and (max-width: 580px) {
    h1.primary-text{
        font-size: 2.8rem;
    }
    
    .logo {
        font-size: 1.7rem;
        margin-right: 25rem;
        margin-top: 1.5rem;
    }

    .btns button   {
        margin: -5rem;
        border: 1px solid white;
        border-radius: 20px;
    }

    .btns button {
        width: 250px;
        height: 60px;
        cursor: pointer;
        color: white;
        text-transform: uppercase;
        background-color: transparent;
        font-weight: bold;
        letter-spacing: 0.2rem;
        border-radius: 20px;
        position: relative;
        transition: 0s;
    }
    
}

@media screen and (max-width: 440px) {
    h1.primary-text{
        font-size: 2.2rem;
    }

    .logo {
        font-size: 1rem;
        margin-left: 5rem;
        margin-top: 1rem;
    }

    .btns button   {
        margin: -7rem;
        border: 1px solid white;
        border-radius: 20px;
    }

    .btns button {
        width: 250px;
        height: 60px;
        cursor: pointer;
        color: white;
        text-transform: uppercase;
        background-color: transparent;
        font-weight: bold;
        letter-spacing: 0.2rem;
        border-radius: 20px;
        position: relative;
        transition: 0s;
    }

}

@media screen and (max-width: 390px) {
   

    
    .logo {
        margin-right: 15rem;
        overflow: hidden;
    }

}
